<form [formGroup]="registrationForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card" [ngStyle]="{'min-width':'390px'}">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="registrationForm.controls['email'].errors">
              Email <strong>must be a valid email address</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="registrationForm.controls['email'].errors">
              Wrong <strong>password</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>